doctype html
html(lang='en')
    head
        // start: Meta
        meta(charset='utf-8')
        title Bootstrap Metro Dashboard by Dennis Ji for ARM demo
        meta(name='description', content='Bootstrap Metro Dashboard')
        meta(name='author', content='Dennis Ji')
        meta(name='keyword', content='Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
        // end: Meta
        // start: Mobile Specific
        meta(name='viewport', content='width=device-width, user-scalable=no')
        // initial-scale=1')
        // end: Mobile Specific
        // start: CSS
        link#bootstrap-style(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/bootstrap-responsive.min.css', rel='stylesheet')
        link#base-style(href='css/style.css', rel='stylesheet')
        link#base-style-responsive(href='css/style-responsive.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
        link(href='css/notify.css', rel='stylesheet')
        // end: CSS
        // The HTML5 shim, for IE6-8 support of HTML5 elements
        //if lt IE 9
          script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
          link#ie-style(href='css/ie.css', rel='stylesheet')
        //if IE 9
          link#ie9style(href='css/ie9.css', rel='stylesheet')
        // start: Favicon
        link(rel='shortcut icon', href='img/favicon.ico')
        // end: Favicon
        style(type='text/css').
            body { background: url(img/bg-login.jpg) !important; }
    body
        .container-fluid-full
            .row-fluid
                .row-fluid
                    .login-box
                        .icons
                            a(href='/')
                                i.halflings-icon.home
                            a(href='#' onclick="AdminCheck();")
                                i.halflings-icon.eye-open
                        h2 Login to your account
                        form.form-horizontal(action='javascript:PostRequestCert()')
                            fieldset
                                .input-prepend(title='Username')
                                    span.add-on
                                        i.halflings-icon.user
                                    input#username.input-large.span10(name='username', type='email', placeholder='type email')
                                .clearfix
                                .input-prepend(title='Password')
                                    span.add-on
                                        i.halflings-icon.lock
                                    input#password.input-large.span10(name='password', type='password', placeholder='type password')
                                .clearfix

                                .button-login
                                    button.btn.btn-primary(type='submit') Login
                                .clearfix

                        h3
                            a(href='/account/reset') Forgot Password?
                        hr
                        h3 Not registered yet?
                        p
                            | No problem,
                            a(href='/account/signup')  Create Account

                    // /span
                // /row
            // /.fluid-container
        // /fluid-row
        #notifications
        #common-Modal1.common-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                ul.list-inline.item-details
                    li
                        a(href='http://themifycloud.com') Admin templates
                    li
                        a(href='http://themescloud.org') Bootstrap themes
        // start: JavaScript
        script(src='js/notify.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(type='text/javascript').
            function AdminCheck(){
                var pw = prompt("비밀번호를 입력하세요","");

                _ajax_request('/admin/approve',{pw:pw},function(data){
                    if (data.type)
                        location.replace("admin/approve");
                    else
                        location.reload();

                },"POST","json")

            }

            function _ajax_request(url, data, callback, method, returnType, auth) {
                return jQuery.ajax({
                    url: url,
                    type: method,
                    data: data,
                    success: callback,
                    dataType : returnType,
                    headers: {
                        authorization: auth
                    }
                });
            }

            function PostRequestCert(){
                var email = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                //acount/cert POST
                _ajax_request('/account/cert',{email: email,password:password},function(data){
                    if(data.type){
                        sessionStorage["token"] = data.token
                        //account/validate GET
                        _ajax_request('/account/validate',"", function(data){
                            var date = new Date(data.timestamp*1000);/*
                            if (!Notify.needsPermission)
                                doNotification("마지막 접속 시간", date.toUTCString());
                            */
                            Notify("마지막 접속 시간 \n" + date.toUTCString());
                            _ajax_request('/data/renewed_data',"",function(data){
                                sessionStorage.setItem('data',data.data);


                                location.replace('/main')
                            },"GET","json",sessionStorage['token'])

                        },"GET",'json',sessionStorage["token"])
                    }else {
                        alert(data.data)
                        location.reload();
                    }

                },'POST', 'json')
            }

        script(src='js/jquery-1.9.1.min.js')
        script(src='js/jquery-migrate-1.0.0.min.js')
        script(src='js/jquery-ui-1.10.0.custom.min.js')
        script(src='js/jquery.ui.touch-punch.js')
        //script(src='js/modernizr.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.cookie.js')
        script(src='js/fullcalendar.min.js')
        script(src='js/jquery.dataTables.min.js')
        // end: JavaScript
