doctype html
html(lang='en')
    head
        // start: Meta
        meta(charset='utf-8')
        title Bootstrap Metro Dashboard by Dennis Ji for ARM demo
        meta(name='description', content='Bootstrap Metro Dashboard')
        meta(name='author', content='Dennis Ji')
        meta(name='keyword', content='Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
        // end: Meta
        // start: Mobile Specific
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // end: Mobile Specific
        // start: CSS
        link#bootstrap-style(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/bootstrap-responsive.min.css', rel='stylesheet')
        link#base-style(href='css/style.css', rel='stylesheet')
        link#base-style-responsive(href='css/style-responsive.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
        link(href='css/notify.css', rel='stylesheet')
        link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Cabin', rel='stylesheet', type='text/css')
        link(href='http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        // end: CSS
        // The HTML5 shim, for IE6-8 support of HTML5 elements
        //if lt IE 9
          script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
          link#ie-style(href='css/ie.css', rel='stylesheet')
        //if IE 9
          link#ie9style(href='css/ie9.css', rel='stylesheet')
        // start: Favicon
        link(rel='shortcut icon', href='img/favicon.ico')
        // end: Favicon
        style(type='text/css').
            body { background: url(img/bg-login.jpg) !important; }
    body(onload='init()')
        .container-fluid-full
            .row-fluid
                .span1
                .row-fluid.span10
                    .box-content
                        form.form-horizontal
                            fieldset
                                table.table.table-striped
                                    tbody#listtable

                        hr
                    // /span
                // /row
            // /.fluid-container
        // /fluid-row
        #notifications
        #common-Modal1.common-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                ul.list-inline.item-details
                    li
                        a(href='http://themifycloud.com') Admin templates
                    li
                        a(href='http://themescloud.org') Bootstrap themes
        // start: JavaScript
        script(src='js/notify.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(type='text/javascript').
            function init(){
                var data = sessionStorage.getItem("data");

                data = JSON.parse(data);

                for(var i = 0; i < data.length; i++){
                    var id = data[i]['id']
                    var total = data[i]['total_workload'];
                    var current = data[i]['current_workload'];


                    var fraction = current+"/"+total;
                    var percent = current/total *100;
                    percent = percent.toFixed(2)
                    var tbody = document.getElementById('listtable');

                    var row = tbody.insertRow(tbody.rows.length); // 하단에 추가

                    row.innerHTML = "<td style=\"width:10%;\">Device #"+id+"</td>\n" +
                        "<td>\n" +
                        "<div>작업량: "+percent+"% <span>&nbsp;("+fraction+")</span></div>\n" +
                        "\n" +
                        "<div class=\"progress progress-striped progress-success active\">\n" +
                        "<div class=\"bar\" style=\"width: "+percent+"%;\"></div>\n" +
                        "</div>\n" +
                        "</td>\n" +
                        "<td style=\"width:10%;\">\n" +
                        "<div>\n" +
                        "<a class=\"quick-button-small span1\" style=\"width: 100%; float:right;\" href=\'/main/"+id+"\'>\n" +
                        "<i class=\"icon-fullscreen\"></i>\n" +
                        "<p>detail</p>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "</td>"

                }


            }

            playtest = setInterval(function () {
                GetRenewedData();

                var data = sessionStorage.getItem("data");

                data = JSON.parse(data);

                var tbody = document.getElementById('listtable');
                for(var i=0; i<tbody.childElementCount;i++){
                    var id = data[i]['id']
                    var workload = data[i]['workload']
                    var total = data[i]['total_workload'];
                    var current = data[i]['current_workload'];

                    var fraction = current + "/" + total;
                    var percent = current / total * 100;
                    percent = percent.toFixed(2)

                    var row = tbody.childNodes[i]

                    row.innerHTML = "<td style=\"width:10%;\">Device #" + id + "</td>\n" +
                        "<td>\n" +
                        "<div>작업량: " + percent + "% <span>&nbsp;(" + fraction + ")</span></div>\n" +
                        "<div class=\"progress progress-striped progress-success active\">\n" +
                        "<div class=\"bar\" style=\"width: " + percent + "%;\"></div>\n" +
                        "</div>\n" +
                        "</td>\n" +
                        "<td style=\"width:10%;\">\n" +
                        "<div>\n" +
                        "<a class=\"quick-button-small span1\" style=\"width: 100%; float:right;\"href=\'/main/"+id+"\'>\n" +
                        "<i class=\"icon-fullscreen\"></i>\n" +
                        "<p>detail</p>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "</td>"
                }

                }, 5000)


            function _ajax_request(url, data, callback, method, returnType, auth, error) {
                return jQuery.ajax({
                    url: url,
                    type: method,
                    data: data,
                    success: callback,
                    dataType: returnType,
                    headers: {
                        authorization: auth
                    },
                    error: error
                });
            }

            /*function doNotification(title, message, tag) {
                var myNotification = new Notify(title, {
                    body: message,
                    tag: tag,

                    timeout: 3
                });

                myNotification.show();
            }*/

            function GetRenewedData() {
                _ajax_request('/data/renewed_data', "", function (data) {
                    sessionStorage.setItem('data', data.data)

                    var newdata = JSON.parse(data.data);

                    for (var i = 0; i < newdata.length; ++i) {
                        var current_device = newdata[i]
                        var lubricant_machine = current_device['lubricant_machine'] ? true : false; //장비 윤활유 부족
                        var lubricant_saw = current_device['lubricant_saw'] ? true : false; //톱날 윤활유 부족
                        var pressure_air_main = current_device['pressure_air_main'] ? true : false; //메인 공기압 부족
                        var pressure_oil_hydraulic = current_device['pressure_oil_hydraulic'] ? true : false; //유압유 압력 부족
                        var servo_cut = current_device['servo_cut'] ? true : false; //절단 서보 에러
                        var servo_transfer = current_device['servo_transfer'] ? true : false; //이송 서보 에러
                        var spindle = current_device['spindle'] ? true : false; //스핀들 이상 에러
                        var safety_door = current_device['safety_door'] ? true : false; //안전문 이상
                        var depletion = current_device['depletion'] ? true : false; //소제 부족
                        var workload_current = current_device['current_workload'];
                        var workload_total = current_device['total_workload'];
                        var workload = workload_current + '/' + workload_total;

                        var timestamp = current_device['timestamp'];
                        timestamp = new Date(timestamp * 1000);
                        timestamp = timestamp.toUTCString();

                        var json = {
                            "장비 윤활유 상태": lubricant_machine,
                            "톱날 윤활유 상태": lubricant_saw,
                            "메인 공기압 상태": pressure_air_main,
                            "윤활유 압력 상태": pressure_oil_hydraulic,
                            "절단 서보 모터 상태": servo_cut,
                            "이송 서보 상태": servo_transfer,
                            "스핀들 모터 상태": spindle,
                            "안전 도어 이상": safety_door,
                            "소재 여유량 상태": depletion,
                            "작업량": workload,
                            "마지막 갱신시간": timestamp
                        };
                        var compVal = 0;
                        var msg = '';
                        for (key in json)
                            compVal |= json[key]

                        if (compVal) {
                            msg = '[' + current_device['id'] + '] '

                            if (lubricant_machine)
                                msg += '장비 윤활유 부족/'
                            if (lubricant_saw)
                                msg += '톱날 윤활유 부족/'
                            if (pressure_air_main)
                                msg += '메인 공기압 부족/'
                            if (pressure_oil_hydraulic)
                                msg += '유압유 압력 부족/'
                            if (servo_cut)
                                msg += '절단 서보 에러/'
                            if (servo_transfer)
                                msg += '이송 서보 에러/'
                            if (spindle)
                                msg += '스핀들 이상 에러/'
                            if (safety_door)
                                msg += '안전문 이상/'
                            if (depletion)
                                msg += '소재 부족/'
                        }
                        //if (!Notify.needsPermission)
                        //    doNotification("", msg, i);
                        Notify(msg, null, null,'danger');

                    }


                }, "GET", "json", sessionStorage['token'],
                    function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {                           // 문제 발생?
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        alert(msg);
                    })
            }

// end: JavaScript
