doctype html
html(lang='en')
    head
        // start: Meta
        meta(charset='utf-8')
        title Bootstrap Metro Dashboard by Dennis Ji for ARM demo
        meta(name='description', content='Bootstrap Metro Dashboard')
        meta(name='author', content='Dennis Ji')
        meta(name='keyword', content='Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
        // end: Meta
        // start: Mobile Specific
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // end: Mobile Specific
        // start: CSS
        link#bootstrap-style(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/bootstrap-responsive.min.css', rel='stylesheet')
        link#base-style(href='css/style.css', rel='stylesheet')
        link#base-style-responsive(href='css/style-responsive.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
        link(href='css/notify.css', rel='stylesheet')
        link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Cabin', rel='stylesheet', type='text/css')
        link(href='http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        // end: CSS
        // The HTML5 shim, for IE6-8 support of HTML5 elements
        //if lt IE 9
          script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
          link#ie-style(href='css/ie.css', rel='stylesheet')
        //if IE 9
          link#ie9style(href='css/ie9.css', rel='stylesheet')
        // start: Favicon
        link(rel='shortcut icon', href='img/favicon.ico')
        // end: Favicon
        style(type='text/css').
            body { background: url(img/bg-login.jpg) !important; }
    body(onload='init()')
        .container-fluid-full
            .row-fluid
                .span1
                .row-fluid.span10
                    .box-content
                        form.form-horizontal
                            fieldset
                                table.table.table-striped
                                    tbody#listtable

                        hr
                    // /span
                // /row
            // /.fluid-container
        // /fluid-row
        #notifications
        #common-Modal1.common-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                ul.list-inline.item-details
                    li
                        a(href='http://themifycloud.com') Admin templates
                    li
                        a(href='http://themescloud.org') Bootstrap themes
        // start: JavaScript
        script(src='js/notify.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(type='text/javascript').
            function init(){
                var data = sessionStorage.getItem("data");

                data = JSON.parse(data);

                for(var i = 0; i < data.length; i++){
                    var id = data[i]['id']
                    var total = data[i]['total_workload'];
                    var current = data[i]['current_workload'];


                    var fraction = current+"/"+total;
                    var percent = current/total *100;
                    percent = percent.toFixed(2)
                    var tbody = document.getElementById('listtable');

                    var row = tbody.insertRow(tbody.rows.length); // 하단에 추가

                    row.innerHTML = "<td style=\"width:10%;\">Device #"+id+"</td>\n" +
                        "<td>\n" +
                        "<div>작업량: "+percent+"% <span>&nbsp;("+fraction+")</span></div>\n" +
                        "\n" +
                        "<div class=\"progress progress-striped progress-success active\">\n" +
                        "<div class=\"bar\" style=\"width: "+percent+"%;\"></div>\n" +
                        "</div>\n" +
                        "</td>\n" +
                        "<td style=\"width:10%;\">\n" +
                        "<div>\n" +
                        "<a class=\"quick-button-small span1\" style=\"width: 100%; float:right;\" href=\'/main/"+id+"\'>\n" +
                        "<i class=\"icon-fullscreen\"></i>\n" +
                        "<p>detail</p>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "</td>"

                }


            }

            playtest = setInterval(GetRenewedData, 5000)

            function notification() {

                var newdata = sessionStorage.getItem("data")
                newdata = JSON.parse(newdata);

                for (var i = 0; i < newdata.length; ++i) {
                    var current_device = newdata[i]
                    var workload_current = current_device['current_workload'];
                    var workload_total = current_device['total_workload'];
                    var workload = workload_current + '/' + workload_total;

                    var timestamp = current_device['timestamp'];
                    timestamp = new Date(timestamp * 1000);
                    timestamp = timestamp.toUTCString();


                    var compVal = 0;
                    var msg = '';

                    compVal = current_device["lubricant_machine"] | current_device["lubricant_saw"] |
                        current_device["pressure_air_main"] | current_device["pressure_oil_hydraulic"]
                        | current_device["servo_cut"] | current_device["servo_transfer"]
                        | current_device["spindle"] | current_device["safety_door"] | current_device["depletion"]

                    if (compVal) {
                        msg = '[' + current_device['id'] + '] '

                        if (current_device["lubricant_machine"])
                            msg += '장비 윤활유 부족/'
                        if (current_device["lubricant_saw"])
                            msg += '톱날 윤활유 부족/'
                        if (current_device["pressure_air_main"])
                            msg += '메인 공기압 부족/'
                        if (current_device["pressure_oil_hydraulic"])
                            msg += '윤활유 압력 부족/'
                        if (current_device["servo_cut"])
                            msg += '절단 서보 에러/'
                        if (current_device["servo_transfer"])
                            msg += '이송 서보 에러/'
                        if (current_device["spindle"])
                            msg += '스핀들 이상 에러/'
                        if (current_device["safety_door"])
                            msg += '안전 도어 이상/'
                        if (current_device["depletion"])
                            msg += '소재 부족/'

                        Notify(msg, null, null, 'danger');
                    }

                }



            }


            function _ajax_request(url, data, callback, method, returnType, auth, error) {
                return jQuery.ajax({
                    url: url,
                    type: method,
                    data: data,
                    success: callback,
                    dataType: returnType,
                    headers: {
                        authorization: auth
                    },
                    error: error
                });
            }

            function GetRenewedData() {
                _ajax_request('/data/renewed_data', "", function (data) {
                    sessionStorage.setItem('data', data.data)

                    var data = sessionStorage.getItem("data");

                    data = JSON.parse(data);
                    var tbody = document.getElementById('listtable');
                    for (var i = 0; i < tbody.childElementCount; i++) {
                        var id = data[i]['id']
                        var workload = data[i]['workload']
                        var total = data[i]['total_workload'];
                        var current = data[i]['current_workload'];

                        var fraction = current + "/" + total;
                        var percent = current / total * 100;
                        percent = percent.toFixed(2)

                        var row = tbody.childNodes[i]

                        row.innerHTML = "<td style=\"width:10%;\">Device #" + id + "</td>\n" +
                            "<td>\n" +
                            "<div>작업량: " + percent + "% <span>&nbsp;(" + fraction + ")</span></div>\n" +
                            "<div class=\"progress progress-striped progress-success active\">\n" +
                            "<div class=\"bar\" style=\"width: " + percent + "%;\"></div>\n" +
                            "</div>\n" +
                            "</td>\n" +
                            "<td style=\"width:10%;\">\n" +
                            "<div>\n" +
                            "<a class=\"quick-button-small span1\" style=\"width: 100%; float:right;\"href=\'/main/" + id + "\'>\n" +
                            "<i class=\"icon-fullscreen\"></i>\n" +
                            "<p>detail</p>\n" +
                            "</a>\n" +
                            "</div>\n" +
                            "</td>"
                    }
                    notification()

                }, "GET", "json", sessionStorage['token'],
                    function (jqXHR, exception) {
                        var msg = '';
                        /*if (jqXHR.status === 0) {                           // 문제 발생?
                            msg = 'Not connect.\n Verify Network.';
                        } else*/
                        if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        alert(msg);
                    })
            }

// end: JavaScript
